<div class="suggestions-block">
  <div class="inner-block js-live-search-suggestions-list">
    <ol class="suggestions-list" id="js-live-search-suggestions">
      {{#results}}
        {{>search/_suggestion}}
      {{/results}}
    </ol>
  </div>
</div>
